* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  color: #333;
}

a:visited,
a:link,
a:active,
a:hover {
  color: #333;
}
a.no-decoration {
  text-decoration: none;
}

body {
  --spacing: 10px;
  --small-spacing: 5px;
  --large-spacing: 15px;
  --exlarge-spacing: 20px;

  --dark-bg-color: #333;

  --small-font: 0.8rem;
  --large-font: 1.2rem;
  --exlarge-font: 1.6rem;

  --font-color: #333;
  --light-font-color: #999;
}
